/*
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

div.clear{
	clear:both;
	visibility: hidden;
}
div.clear hr{
	display: none;
}

/* Tweaks to the bootstrap theme
--------------------------------- */
body {
	font-family: Verdana,Helvetica,Arial,sans-serif;
}
table th, table td { 
	padding: 6px; 
}
table th { 
	background-color: #F5F5F5; 
}
h2 { 
	margin-bottom: 5px; 
}
li { 
	color: inherit; 
	line-height: 20px; 
}
code, tt{
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	background-color: whitesmoke;
	padding: 2px;
	border: 1px solid #ddd;
}

.section {
	padding: 4px;
	margin-top: 15px;
}
.breadcrumb {
	font-size: 12px;
	padding: 6px 14px;
}
a.externalLink {
	background: url(../images/external.png) right center no-repeat;
	padding-right: 18px;
}
a.newWindow {
	background: url(../images/newwindow.png) right center no-repeat;
	padding-right: 18px;
}
ul.tabs {
	height: 35px;
	margin-bottom: 8px;	
}

/* Sidebar menu 
----------------- */

.well {
	padding: 10px;
}

.container-fluid > .sidebar {
	float: left;
	position: static;
	font-size: 11px;
}
.sidebar h5 {
	font-size: 12px;
	line-height: 24px;
	border-bottom: 1px solid grey;
}
.sidebar ul {
	margin: 0;
}
.sidebar li {
	list-style-type: none;
	line-height: 14px;
	background-position: 0 0.4em;
    background-repeat: no-repeat;
    padding-left: 16px;
}
.sidebar li.expanded {
	background-image: url(../images/expanded.gif);
}
.sidebar li.collapsed {
	background-image: url(../images/collapsed.gif);
}

/* Footer (using <div> instead of <footer> because of IE). 
----------------------------------------------------------- */

div.footer {
	background-color: whitesmoke;
	padding: 15px;
    margin-top: 15px;
	text-align: right;
	border-top: 1px solid #EEEEEE;
}
div.footer p {
	font-size: 11px;
}

/* Banners
----------------- */
#banner {
	padding: 10px 0;
}
#bannerLeft {
	float: left;
}
#bannerRight {
	float: right;
}

/* Pretty printing styles. Used with prettify.js. 
---------------------------------------------------- */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 6px; border: 1px solid #ddd }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */

.linenums li { 
	color: #ccc;
}
.prettyprint li { 
	margin-bottom: 0;
}

